{% extends 'authenticate/base.html' %}

{% load static %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-1000">
        <div class="border p-5 rounded shadow" style="width: 500px; height: auto; text-align: left;">
            <div style="justify-content: center; padding: 10px">
                <img src="https://i.imgur.com/2TWSSkP.jpg" alt="logo" style="width:42px;height: 55px;">
            </div>
            <h2 class="pb-3">Register</h2>
            <form method="POST" action="{% url 'register' %}" style="text-align: left;">
                {% csrf_token %}

                {% if form.errors %}
                    <p class="alert alert-danger">Either your username or password didn't follow the guidelines. Please try again.</p>
                {% endif %}

                <div style="display: inline-block; text-align: left; width: 100%;">
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <br> <!-- Add a line break here -->
                            {{ field }}
                            {% if field.name == 'password1' %}
                                <p style="font-size: 12px;">Passwords must be a minimum of 8 characters, must start with a
                                    letter, must have a letter, a number and a special character.</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <input type="submit" value="Register" class="btn btn-primary" style="margin-top: 10px;">
            </form>
        </div>
    </div>
{% endblock %}
