<!-- This is the page for THE chart of accounts -->
{% extends "main_page/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <h2 class="text-center">Chart of Accounts</h2>
    </div>

    <div class="col text-end"> <!-- Align the button to the right -->
        {% if request.user.is_superuser %}
        <!-- Button to view log changes with space below -->
        <a href="{% url 'view_coa_logs' %}" class="btn btn-outline-primary" style="margin-bottom: 20px;" title="view log changes">View Changes</a>
        {% endif %}
    </div>
    


    <!-- table wrapper -->
    <div class="table-responsive">
        <!-- Chart of Accounts Table -->
        <table id="table" class="table table-striped table-hover table-bordered">
            <thead  class="thead-dark">
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Normal Side</th>
                    <th>Initial Balance</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th>Date Added</th>
                    <th>Comments</th>
                    <th>Status</th>
                    {% if is_admin %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    {% load humanize %} 
                    <td><a href="{% url 'ledger' account.id %}" title="click to see account info">{{ account.account_name }}</a></td>
                    <td>{{ account.account_number }}</td>
                    <td>{{ account.account_description }}</td>
                    <td>{{ account.account_category }}</td>
                    <td>{{ account.account_subcategory }}</td>
                    <td>{{ account.normal_side }}</td>
                    <td>{{ account.initial_balance|intcomma }}</td>
                    <td>{{ account.debit|intcomma }}</td>
                    <td>{{ account.credit|intcomma }}</td>
                    <td>{{ account.balance|intcomma }}</td>
                    <td>{{ account.date_time_account_added }}</td>
                    <td>{{ account.comment }}</td>
                    <td>{{ account.is_active|yesno:"Active,Inactive" }}</td>
                    {% if is_admin %}
                    <td>
                        <a href="{% url 'edit_account' account.id %}" title="edit account">Edit</a> |
                        {% if account.is_active %}
                            <a href="{% url 'deactivate_account' account.id %}">Deactivate</a>
                        {% else %}
                            <a href="{% url 'activate_account' account.id %}">Activate</a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Buttons at the bottom of the Chart of Accounts -->
<div class="text-center mt-3 mb-5"> <!-- Center the buttons and add some top margin -->
    <!-- Add New Account Button but only for admins -->
    {% if is_admin %}
    <a href="{% url 'add_account' %}" class="btn btn-success" title="add new account" >Add New Account</a>
    {% endif %}
    
    <!-- Original Clear Search Button 
    <a href="{% url 'chart_of_accounts' %}" class="btn btn-secondary ml-2" title="clear current search">Clear Search</a>
    -->
</div>

<!-- Include datepicker.js -->
<script src="https://cdn.jsdelivr.net/npm/datepicker.js"></script>

<!-- Initialize datepicker -->
<script>
    const datepicker = new Datepicker(document.getElementById('datepicker'), {
        // options if needed
    });
</script>

<script>
    function thFunction() {
     var input, filter, table, tr, td, i, txtValue;
     input = document.getElementById("inpu");
     filter = input.value.toUpperCase();
     table = document.getElementById("table");
     tr = table.getElementsByTagName("tr");
      // search through table
     for (i = 0; i < tr.length; i++) {
       td = tr[i].getElementsByTagName("td")[0];
       if (td) {
         txtValue = td.textContent || td.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1) {
           tr[i].style.display = "";
         } else {
           tr[i].style.display = "none";
         }
       }
     }
    }
    
    </script>
<!-- some custom styles to the table -->
<style>
    .thead-dark th {
        background-color: #23395D; /* Dark table header background */
        color: white; /* White text color */
        padding: 5px; /* Smaller padding due to screen sizes*/
        font-size: 0.85rem; /* Smaller font size */
    }
    
    th {
        white-space: nowrap; /* Prevent text in headers from wrapping */
    }
</style>

{% endblock %}
