<style>
  /* styles.css */
  h1 {
    text-align: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

</style>
<body>
  <h1>Email</h1>
  <form method = "POST">
    {% csrf_token %}  
    {{ form.as_p }} 
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
  </form> 
</body>