{% extends "main_page/base.html" %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <h2 class="mb-4 text-center">Journal Entry Detail</h2>
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ journal_entry.date }}</td>
                    <td>{{ journal_entry.account.account_name }}</td>
                    <td>{{ journal_entry.debit|intcomma }}</td>
                    <td>{{ journal_entry.credit|intcomma }}</td>
                    <td>{{ journal_entry.status }}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'chart_of_accounts' %}" class="btn btn-secondary mb-3 custom-back-btn" title="go back">Back to Chart of Accounts</a>
    </div>
    <style>
        .custom-back-btn {
            max-width: 225px; /* Adjust the max-width as needed */
            width: 100%;
        }
    </style>
</div>
<style>
    .thead-dark th {
        background-color: #23395D; /* Dark table header background */
        color: white; /* White text color */
        padding: 5px; /* Smaller padding due to screen sizes*/
        font-size: 0.85rem; /* Smaller font size */
    }
    
    th {
        white-space: nowrap; /* Prevent text in headers from wrapping */
    }

    .clickable-row {
        cursor: pointer;
    }

    .clickable-row:hover {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}
