<!-- This is the page to add a new account for Chart of Accounts -->

{% extends "main_page/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Add New Account</h2>
                </div>
                <div class="card-body" style="max-height: 500px; overflow-y: auto;">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary mr-4" title="Add new account">Save Account</button>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{% url 'chart_of_accounts' %}" class="btn btn-secondary" title="go back">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}